$color-background-default: #ffdfc6;
$color-background-dark: #333;
$color-background-light: #fff;
$color-font-default: #333;
$color-shadow-default: #aaa;
$color-shadow-light: #ccc;
$color-shadow-lighter: #eee;

$size-font-default: 16px;
