@import "utils/variables";

// text
$font-size-h1: 18px;

// buttons
$btn-default-bg: none;
$btn-default-color: $color-font-default;
$btn-default-border: $color-background-dark;;
$btn-border-radius-base: 2px;
$btn-font-weight: bold;

// inputs select
