label {
    display: inline-block;
    width: 45px;
    text-align: left;
    margin-bottom: 0;
}

select {
    width: 65px;
    height: 20px;
    background: none;
}

.checkboxes {
    input[type="checkbox"] {
        margin-left: 10px;
    }
}

.checkbox {
    display: inline;
}
